@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "nove";
  src: url(/src/fonts/Nove.ttf);
  font-style: normal;
}

:root {
  --primary-color: #ea6d7c;
  --secondary-color: #ffe415;

  --tertiary-color: #eb9e6e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header.App-header {
  
} */
.nav-container {
  /* display: flex; */
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav.menu-wrapper {
  width: 100%;
  max-height: 100%;
  /* background: linear-gradient(#f9b16ef3, #e6898c, #ea6d7b); */
  /* background: linear-gradient(#f9b16ef3, #ea6d7b); */

  /* background: rgb(249, 177, 110);
  background: linear-gradient(
    rgba(249, 177, 110, 1) 50%,
    rgba(234, 109, 123, 1) 99%
  ); */
  background: var(--primary-color);
  /* padding: 5px 10%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  padding: 0 6%;
  position: relative;
}

.brand-logo {
  height: 90px;
  margin: 5px 10px;
}

#nav-logo {
  height: 100%;

  /* margin: 5px 10px; */
}

.nav-mid {
  flex: 1;
  /* transition: all 0.8s ease-in-out; */
}

.nav-mid h2 {
  white-space: nowrap;
  /* overflow: hidden; */
}
.nav-mid h6.dateHeading {
  font-family: "nove";
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  padding: 5px 0;
  margin: 0;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.nav-mid span {
  font-family: "nove";
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 0;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 1px 0 #000;
  color: var(--secondary-color);
}

/* .locationHeading {
  font-family: "nove";
  font-weight: 400;
  font-size: 1rem;
  color: var(--secondary-color);
  padding: 5px 0;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 1px 0 #000;
} */

nav ul.showNav {
  display: flex;
}

nav ul.menu {
  list-style: none;
  /* min-width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
  margin-bottom: 0;
}

nav li {
  color: white;
  display: block;
  margin: 0 1%;
  transition: transform 0.2s ease-in-out;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "nove";
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 5px 0 #000;
  transition: all 0.2s ease-in-out;
}

nav li a:hover {
  color: var(--secondary-color);
  transform: translateY(-100px);
  text-decoration: none;
}

nav li:hover {
  transform: scale(1.1) translateY(-3px);
}

/* navbar hambuger */

.menu-wrapper input.menu-toggle {
  position: absolute;
  top: 31px;
  right: 38px;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.menu-wrapper .hamburger {
  position: absolute;
  top: 31px;
  right: 38px;
  z-index: 1;
  width: 38px;
  height: 38px;
  padding: 0.5rem;
  background: var(--secondary-color);
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.menu-wrapper .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 10%;
  background-color: #000;
  display: none;
  align-items: center;
  justify-content: center;

  transition: all 0.4s cubic-bezier(0.48, 1.95, 0.32, 1.89);
}

.menu-wrapper .hamburger > div::before,
.menu-wrapper .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 2px;
  border-radius: 10%;
  background: inherit;

  /* transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
}

.menu-wrapper .hamburger > div::after {
  top: 8px;
}

/* toggle animation */
.menu-wrapper input.menu-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* tranform to X */
.menu-wrapper input.menu-toggle:checked + .hamburger > div::before,
.menu-wrapper input.menu-toggle:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* NAVBAR END */

/* COVER START */

section.imgBox {
  margin-top: 100px;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

section.imgBox:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #eea057, transparent);
  z-index: 10000;
}

section.imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.imgBox h2 {
  position: absolute;
  color: #fff;
  font-size: 10vh;
  bottom: 300px;
  font-family: "Oi", cursive;
  font-weight: 100;
  letter-spacing: 2rem;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 20px 0 #000,
    5px 5px 0 #000;
}

.homepage-content {
  position: relative;
  padding: 100px;
  background: linear-gradient(#f9b16ef3, #e6898c);
}

.homepage-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #eea057, transparent);
  z-index: 10000;
}

.homepage-content section h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #20496a;
}
.homepage-content section p {
  font-size: 1.2rem;
  color: #20496a;
}

/* COVER END */
/* EVENT PAGE */
.eventpage-wrapper {
  margin-top: 100px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100vw;
  background-image: url("./images/background-lineup.svg");
}

/* EVENT DETAILS PAGE */

.eventDetails-wrapper {
  height: 100%;
  background-image: url("./images/background-lineup.svg");
  background-repeat: repeat-y;
}
/* TICKET PAGE */

#loading-icon {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketpage-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(200px, 1fr), minmax(200px, 2fr), minmax(100px, 1fr);
  margin-top: 100px;
  height: 100%;
  width: 100vw;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "m m m m m m m m m m m m"
    "p p p p p p p p p p p p"
    ". f f f f f f f f f f .";
}

.ticketpage-header {
  grid-area: h;
  /* grid-column: 1/-1; */
}

#hero-container {
  /* background-image: url("/src/images/reggaeSundays.jpeg"); */
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: auto;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -2;
}

.bg-filter {
  width: 100vw;
  height: 400px;
  background: rgba(255, 255, 255, 0.071);
  backdrop-filter: contrast(0.8) blur(4px);
  -webkit-backdrop-filter: contrast(0.8) blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero-image {
  height: 40%;
  width: auto;
  padding: 0 10px;
  z-index: 1;
}

.hero-text {
  z-index: 0;
  font-family: "Inter", sans-serif;
}

.hero-text h1 {
  font-weight: 800;
}

.hero-text p {
  font-weight: 400;
}

.hero-text {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 10px;
}

.ticketpage-content {
  grid-area: c;
  /* grid-column: span 8;
  grid-column-start: 2;
  grid-column-end: 11; */
  display: flex;
  justify-content: center;
  align-items: center;

  height: max-content;
}

.ticketpage-description {
  width: 55vw;
}

.ticketpage-map {
  grid-area: m;
  /* grid-column: span 8;
  grid-column-start: 2;
  grid-column-end: 11; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketpage-payment {
  grid-area: p;
  /* grid-column: span 8;
  grid-column-start: 2;
  grid-column-end: 11; */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.ticket-button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0%;
}

.ticket-button-list button {
  width: 45vw;
  padding: 2%;
  height: 100%;
  min-height: 100px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;

  /* background-color: rgba(255, 255, 255, 0.071); */
  background: none rgb(243, 243, 243);
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin: 0.5% 0%;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.ticket-button-list button:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.ticket-button-list button:hover {
  background-color: rgb(255, 255, 255);
  transform: translateZ(1px);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 12px;
  z-index: 1;
}

.ticket-button-list button:disabled:hover {
  background: none rgb(243, 243, 243);
  cursor: not-allowed;
}

.ticket-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ticket-labels h2,
.ticket-labels h3,
.ticket-labels p {
  margin: 0;
}

.ticket-labels h3 {
  font-size: 18px;
}

.ticket-labels h2 {
  font-size: 28px;
  font-weight: 600;
}

.ticket-labels p {
  font-weight: 700;
}

section.ticketpage-content p {
  margin: 2% 0%;
  padding: 2% 2%;
  color: black;
  text-align: center;
}

.ticketpage-footer {
  grid-area: f;
  /* grid-column: 1/-1; */
}

/* TICKETPAGE END */

/* -------- LINEUP --------- */

.lineup-wrapper {
  margin-top: 100px;
}
.lineup-background {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/background-lineup.svg");
}
.lineup-container {
  padding-top: 4%;
}

.lineup-list {
  list-style-type: none;
  text-align: center;
  color: #66b2f9;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "nove";
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 5px 0 #000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 5px 0 #000; */
}

.lineup-list li {
  transition: all 0.2s ease-in-out;
}

.lineup-list li:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}

/* -------- FAQs --------- */
.faq-wrapper {
  margin-top: 100px;
  background-color: var(--tertiary-color);
  background-repeat: repeat-y;
  height: max-content;
}

.faq-background {
  /* background-image: url(./images/blueBackground.jpeg); */
  /* background-color:  rgba(112,208,204, 0.6); */
  /* background-color: rgb(249,172,102); */
  height: auto;
  width: auto;
  background-image: url("./images/shapes.svg");

  background-size: contain;
  background-repeat: repeat-x;
  background-position-y: -150px;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.MuiAccordionDetails-root {
  padding: 20px 48px 45px;
}

.patterns-one {
  background-image: url("./images/shapes.svg");
  background-size: cover;
  position: absolute;
  /* width: 50px;
  height: auto; */
  height: 100vh;
  width: 100vw;
  max-width: 100px;
  max-height: 100px;
}

.patterns-two {
  background-image: url("./images/shapes.svg");
  position: absolute;
}

.makeStyles-heading-7 {
  font-size: 1.2375rem !important;
  flex-basis: 100% !important;
  font-weight: bold !important;
  text-transform: uppercase;
  /* text-decoration: overline; */
}

.MuiAccordion-root,
.MuiAccordion-rounded {
  background-color: black;
}

/* EVENTS PAGE */

/* .eventsList {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media (min-width: 480px) {
  .faq-list li h3 {
    padding: 15px 25px;
    font-size: 2.375rem;
    line-height: 1.2;
  }
}

/* .menu {
    grid-row: 1;
    grid-column: span 6;
  } */

/* .content {
    grid-column: span 12;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
} */

@media screen and (max-width: 1325px) {
  /* nav ul.menu {
    display: none;
  } */

  .nav-mid {
    display: none;
  }

  .menu-wrapper input {
    display: block;
  }
}

/* @media screen and (max-width: 1190px) {
  nav ul.menu li button span#cart-label {
    display: none;
  }
  nav ul.menu li button {
    padding: 8px 0px;
    min-width: 40px;
  }
  nav ul.menu li button.MuiButton-startIcon {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
} */

@media screen and (max-width: 1100px) {
  nav ul.menu {
    display: none;
    width: 200%;
  }

  nav ul.showNav {
    display: flex;
  }

  nav ul.menu li a {
    flex: 1;
  }

  .nav-mid {
    display: block;
  }

  nav.menu-wrapper {
    text-align: center;
  }

  .menu-wrapper .hamburger,
  .menu-wrapper .hamburger > div {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .menu-wrapper {
    padding-left: 0% !important;
  }
}

@media screen and (max-width: 521px) {
  .nav-mid {
    text-align: left;
  }

  .menu-wrapper {
    padding-left: 6% !important;
    padding: 0 6%;
  }

  .ticket-header {
    grid-column: span 6;
  }

  nav ul.menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  nav ul.showNav {
    display: flex;
  }
}
